{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-4">
        <img src="assets/img/izuku.jpg" class="img-thumbnail">
    </div>
    <div class="col-8">
        <div class="jumbotron ">
            <h1 class="display-4 ">Acerca de</h1>
            <p class="lead ">Sitio de prueba generado por José de Jesús Vargas Ibáñez.</p>
            <hr class="my-4 ">
            <p><a href="mailto:jesus.vargas@codes.com.mx">jesus.vargas@codes.com.mx</a></p>
        </div>
    </div>

    
</div>

{{> footer}}