{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-4">
        <img src="assets/img/izuku.jpg" class="img-thumbnail">
    </div>
    <div class="col-8">
        <div class="jumbotron ">
            <h1 class="display-4 ">Acerca de</h1>
            <p class="lead ">Sitio de prueba generado por Atomsk.</p>
        </div>
    </div>

    
</div>

{{> footer}}