{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Imagen subida!!!</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odio culpa, deserunt nam dolorum quisquam adipisci repellat repellendus laborum iure recusandae corporis eligendi earum totam at, commodi reprehenderit sit odit.
        </p>
    </div>

    <div class="col-4">
        <img src="{{ url }}" class="img-thumbnail">
    </div>
</div>

{{> footer}}